
div.password{
  z-index:9;
  position:relative;
  text-align: center;
}

.content{
  margin-top: -50px;
  padding: 0;
}

div.head{
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size:40px;
}

div.logo{
  text-align: right;
  margin-right: 50px;
  margin-top: 30px;
}

img.logo2{
  width: 80px;
}


.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.content {
  font-size: 150%;
  padding: 3em 0;
}


#submit{
  font-size: 14px;
  padding: 14px 80px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 100;
  border: 3px solid #71767d;
  background-color: rgba(0,0,0,0.0);
  color: #e56c8a;
  margin-top: 60px;
}


#submit:hover {
  color: #006398;
  background-color: #eeeee;
  border: 3px solid #71767d;
}


