@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  z-index: 1;
}


div.password{
  z-index:9;
  position:relative;
  text-align: center;
}

#go{
  display: inline-block;
  margin-top: 0px;
  text-align: center;
}

#go img{
  width: 80px;
}

.content{
  margin-top: -50px;
  padding: 0;
}

div.head{
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size:40px;
}

div.logo{
  text-align: right;
  margin-right: 50px;
  margin-top: 30px;
}

img.logo{
  width: 150px;
}


img.logo2{
  width: 80px;
}

.red{
  color:#e63c35;
}

.yellow{
  color:#fac700;
}

.green{
  color:#67b62d;
}

.blue{
  color:#009bdb
}

.orange{
  color:#ff8b22;
}

.purple{
  color:#bb39ff
}

/*particle-jsが画面いっぱいになる設定*/
#particles-js {
width: 100%;
height: 485%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: 0;
}