@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {

}

.logo{
  width: 100px;
  margin-left: 20px;
  text-align: left;
  margin-right: -130px;
}


div.head{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: lighter;
  margin-top: 30px;
  text-align: center;
  font-size:40px;
}

.red{
  color:#e63c35;
}

.yellow{
  color:#fac700;
}

.green{
  color:#67b62d;
}

.blue{
  color:#009bdb
}

.orange{
  color:#ff8b22;
}

.purple{
  color:#bb39ff
}

.button-area{
  text-align: center;
}

.button-box{
  display: inline-block;
  color:white;
  font-family: lobster;
  font-size:30px;
  height: 200px;
  background-color: #000000;
  opacity: 0.5;
  margin: 10px; 
}

.graduation-mentor{
  width: 500px;
}

.photos{
  width:200px;
}

.message{
  width:200px;
}

.special-content{
  width:500px;
}


/*particle-jsが画面いっぱいになる設定*/
#particles-js {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: 0;
}

