@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

ul {
  display: flex;
  align-items: center;
}

ul li {
  margin-left: 5px;
  margin-right: 5px;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  text-align: center;
}

main div.mentor {
  width: calc(33% - 50px);
  min-width: 300px;
  margin: 20px;
  background-color: white;
  position:relative;
  z-index: 9;
}

main div.mentor:hover{
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.mentor img:hover{
  transition-duration: 0.5s;
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  width:300px;
  height:300px;
}



.mentor img {
  width:150px;
  height:150px;
  border-radius: 50%;
}



div.head{
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size:30px;
  position: relative;
}

div.head h1{
    font-weight: lighter;
}

div.logo{
  text-align: right;
  margin-right: 50px;
  margin-top: 30px;
}

img.logo{
  width: 130px;
}

.red{
  color:#e63c35;
}

.yellow{
  color:#fac700;
}

.green{
  color:#67b62d;
}

.blue{
  color:#009bdb
}

.orange{
  color:#ff8b22;
}

.purple{
  color:#bb39ff
}


/*particle-jsが画面いっぱいになる設定*/
/*#particles-js {
width: 100%;
height: 600%;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
display: block;
z-index: 0;
}
*/

#submit{
  background-color: #fefefe;
  color: #e56c8a;
/*  border-radius: 10px;*/
  margin-top: 60px;
}





