
div.password{
  z-index:9;
  position:relative;
  text-align: center;
}

.content{
  margin-top: -50px;
  padding: 0;
}

.contents{
  text-align: center;
}

.contents img{
    width: 80%;
    margin: 15px 0;
}

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}

div.head{
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 30px;
  text-align: center;
  font-size:40px;
}

div.logo{
  text-align: right;
  margin-right: 50px;
  margin-top: 30px;
}

img.logo2{
  width: 100px;
}


.container {
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.content {
  font-size: 150%;
  padding: 3em 0;
}


#submit{
  font-size: 14px;
  padding: 14px 80px;
  cursor: pointer;
  font-family: 'Roboto';
  font-weight: 100;
  border: 3px solid #71767d;
  background-color: rgba(0,0,0,0.0);
  color: #e56c8a;
  margin-top: 60px;
}


#submit:hover {
  color: #006398;
  /*background-color: #eeeeee;*/
  border: 3px solid #71767d;
}

/*
input{
  font-size: 20px !important;
}*/


